.header {
    background: rgb(226, 222, 222);
    }
    th, td, table {
        border: 1px solid black;
        border-collapse: collapse;
        font-family: 'calibri', monospace;
    }
 .addresses {
font-style: normal;
 }
th {
    text-align: left;
}